*{
  margin:0px;
  padding:0px;
}
body{
  background-color:white;
  padding:0px;
  margin: :0px;
}
header{
  width:100%;
  position:fixed;
  background: black;
  color: white;
  padding: 14px;
  font: bold 16px Tahoma;
  border-bottom: 5px solid darkseagreen;
}
header h1{
  padding-top: 6px;
  padding-left: 5px;
}
 h3{
  display: inline-block;
  float:left;
}
nav ul li{
  display: inline-block;
  list-style: none;
  padding:4px;
}
nav ul li a{
  padding-top:12px;
  padding-left:30px;
  padding-right:30px;
  color:white;
  width:75%;
  font: solid 15px Tahoma;
}
nav ul li a:hover {
  color: silver;
  text-decoration:  none;
  font-weight: none
}
